@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	   -moz-box-sizing: $value;
	     -o-box-sizing: $value;
	        box-sizing: $value;
}

@mixin retina-background-image($src, $position) {
	background: transparent url('../img/icons/#{$src}.png') $position no-repeat;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: url('../img/#{$src}@2x.png');
	}
}

@mixin background-size($value) {
	-webkit-background-size: $value;
	   -moz-background-size: $value;
		 -o-background-size: $value;
			background-size: $value;
}


@mixin transition($property, $duration, $timing) {
	-webkit-transition: $property $duration $timing;
	   -moz-transition: $property $duration $timing;
		 -o-transition: $property $duration $timing;
			transition: $property $duration $timing;
}
