@import 'modules/variables';
@import 'helpers/mixins';
@import 'modules/unsemantic-grid-responsive';
@import 'modules/unsemantic-grid-responsive-tablet';
@import 'modules/product-detail';
@import 'modules/footer';
@import 'modules/header';

body {
	background: #fff;
	font: 400 14px/1.8em 'Montserrat', Arial, serif;
	margin: 0;
	padding: 0;
	letter-spacing: 0.125em;
}

h2, h3, h4, button {
	color: $gold;
	text-transform: uppercase;
}

h2 {
	font-size: 1.714em;
	letter-spacing: 0.25em;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 0.929em;
	margin: 0;
}

h4 {
	font-size: 0.714em;
	float: left;
	margin: 10px 0;
}

p {
	color: #7a7a7a;
	margin: 0;
}

a {
	color: $gold;
	text-decoration: none;

	&:hover {
		color: #fff;
	}
}

button {
	background-color: $gold;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 0.929em;
	letter-spacing: 0.25em;
	margin: 30px 0;
	padding: 15px 30px;
}

///////////////////////////////
// B&W Images
///////////////////////////////

.feature-images {
	height: 200px;
	overflow: hidden;

	img {
		width: 100%;
	}
}


///////////////////////////////
// Nav Menu
///////////////////////////////
nav {
	background-color: #000;
	min-height: 60px;
	text-align: center;
	text-transform: uppercase;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin: 20px 0 10px 0;
			padding: 0 0 0 30px;

			&:first-child {
				padding: 0;
			}
		}
	}
}


///////////////////////////////
// Our Story
///////////////////////////////

.about {
	margin-bottom: 200px;

	h2 {
		margin: 70px 0 55px 0;
		padding: 0;
	}
	h2 + p {
		font-size: 1.286em;
	}

	p {
		margin: 37px 0;
	}	
}


///////////////////////////////
// Category
///////////////////////////////

.product-listing {
	padding: 40px 0 20px;

	nav {
		background-color: #fff;
		border-bottom: 1px solid #ccc;
	}

	.product {
		margin: 40px 0 65px;
		text-align: center;
		text-transform: uppercase;
		padding-left: 0;
		padding-right: 0;

		img {
			margin: 0 0 15px 0;
		}

		h2 {
			font-size: 1em;
		}

		p {
			margin-top: -8px;
		}

	}
}
