footer {
	text-transform: uppercase;
	
	a {
		text-decoration: underline;
		
		&:hover {
			text-decoration: none;
		}
	}

	section {
		background-color: #000;
		min-height: 170px;
		padding: 15px 0 0 0;

		a.phone {
			color: #fff;
			text-decoration: none;
		}
		a {
			color: #fad9b8;
		}

		p {
			color: #fff;
			font-size: 0.714em;
			line-height: 2em;
			margin: 15px 0 0 0;
		}

		.social {

			h3 {
				margin-bottom: 15px;
				margin-left: 80px;
				
				@media only screen and (max-width: 767px) {
					margin-left: 0;
					margin-top: 25px;
				}
			}

			h3 + a {
				margin-left: 80px;

				@media only screen and (max-width: 767px) {
					margin-left: 0;
				}
			}

			a {
				background-color: #f08;
				display: inline-block;
				height: 27px;
				margin: 0 0 24px 0;
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
				width: 27px;
			}

			a.twitter {
				@include retina-background-image('icon-social', 0 0);
			}

			a.facebook {
				@include retina-background-image('icon-social', 0 -27px);
			}
			a.pinterest {
				@include retina-background-image('icon-social', 0 -81px);
			}
		}
	}

	ul {
		list-style-type: none;
		float: right;
		font-size: 0.714em;
		margin: 10px 0;
		padding: 0;

		li {
			display: inline-block;
			a {
				&:hover {
					color: #000;
				}
			}

			&:first-child {
				margin-right: 20px;
			}
		}
	}

	@media only screen and (max-width: 625px) {
		h4 {
			float: none;
			text-align: center;
		}

		ul {
			float: none;
			margin-bottom: 20px;
			text-align: center;
		}
	}
}