
<a href="/search?type=product&q=red">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="red"></div>
		<h3>Red</h3>
	</div>
</a>
<a href="/search?type=product&q=green">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="green"></div>
		<h3>Green</h3>
	</div>
</a>
<a href="/search?type=product&q=black">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="black"></div>
		<h3>Black</h3>
	</div>
</a>
<a href="/search?type=product&q=silver">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="silver"></div>
		<h3>Silver</h3>
	</div>
</a>
<a href="/search?type=product&q=navy">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="navy"></div>
		<h3>Navy</h3>
	</div>
</a>
<a href="/search?type=product&q=purple">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="purple"></div>
		<h3>Purple</h3>
	</div>
</a>
<a href="/search?type=product&q=pink">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="pink"></div>
		<h3>Pink</h3>
	</div>
</a>
<a href="/search?type=product&q=teal">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="teal"></div>
		<h3>Teal</h3>
	</div>
</a>
<a href="/search?type=product&q=yellow">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="yellow"></div>
		<h3>Yellow</h3>
	</div>
</a>
<a href="/search?type=product&q=orange">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="orange"></div>
		<h3>Orange</h3>
	</div>
</a>
<a href="/search?type=product&q=blue">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="blue"></div>
		<h3>Blue</h3>
	</div>
</a>
<a href="/search?type=product&q=brown">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="brown"></div>
		<h3>Brown</h3>
	</div>
</a>
<a href="/search?type=product&q=grey">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="grey"></div>
		<h3>Grey</h3>
	</div>
</a>
<a href="/search?type=product&q=lavender">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="lavender"></div>
		<h3>Lavender</h3>
	</div>
</a>
<a href="/search?type=product&q=coral">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="coral"></div>
		<h3>Coral</h3>
	</div>
</a>
<a href="/search?type=product&q=gold">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="gold"></div>
		<h3>Gold</h3>
	</div>
</a>
<a href="/search?type=product&q=white">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="white"></div>
		<h3>White</h3>
	</div>
</a>
<a href="/search?type=product&q=burgundy">
	<div class="grid-25 tablet-grid-50 mobile-grid-100 swatch">
		<div class="burgundy"></div>
		<h3>Burgundy</h3>
	</div>
</a>
</div>